.OrderSummaryUl {
  margin: 1rem 3rem;
}

.OrderSummaryContinue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media (min-width: 500px) {
  .OrderSummaryContinue {
    margin-top: unset;
  }
}
